body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.colorfull-text{
    color: dodgerblue;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(dodgerblue, #89d2eb);
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
h2{
    font-size: 35px;
}
.experience-col{
    width: 40%;
    margin: 0 5%;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
    border-radius: 10px;
}
#colunm-two{
    border-left: 7px solid dodgerblue;
}
#colunm-one{
    border-left: 7px solid tomato;
}
footer p{
    text-align: center;
}